.main-menu {
    padding: 10px 20px;
    display: flex;
    background-color: #ccc;
    align-items: center;
    height: 60px;
}
.main-menu li {
    list-style-type: none;
    margin-right: 20px;
}

.main-menu li a {
    text-decoration: none;
    color: #666;
    font-size: 18px;
    padding: 10px 0;
    transition: .5s;
    border-bottom: solid 2px rgba(5,142,252,0);
}

.main-menu li a:hover {
    border-bottom: solid 2px rgba(5,142,252,1);
    transition: .5s;
}

.main-menu li a.active {
    text-decoration: none;
    color:rgba(5,142,252,1);
    border-bottom: solid 2px rgba(5,142,252,1);
}

.main-menu li.rihgt-top {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    border: none;
    margin: 0;
}
.main-menu li.rihgt-top a {
    border:none
}