
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap');

/* ICONS: */
@font-face {
	font-family: 'directual-icons';
	src:url('../../assets/icons/directual-icons.eot');
	src:url('../../assets/icons/directual-icons.eot') format('embedded-opentype'),
		url('../../assets/icons/directual-icons.woff') format('woff'),
		url('../../assets/icons/directual-icons.ttf') format('truetype'),
		url('../../assets/icons/directual-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
	--headers-font-family: 'Montserrat', sans-serif;
	--main-font-family: 'Lato', sans-serif;
	--strong-font-weight: 700;
	
	--text-small-size: 14px;
	--text-very-small-size: 12px;

	--text-font-size: 16px;
    --text-font-weight: 400;
    
    --h1-font-size: 32px;
	--h1-font-weight: 700;
	
    --h2-font-size: 26px;
	--h2-font-weight: 700;
	
    --h3-font-size: 20px;
	--h3-font-weight: 700;
	
}

@media all and (max-width: 415px) { 
	:root {
		--text-font-size: 18px;
		--text-small-size: 14px;
		--text-very-small-size: 12px;
		--h1-font-size: 32px;
		--h2-font-size: 26px;
		--h3-font-size: 20px;
	}
}

/* Typography */

body {
    font-family: var( --main-font-family);
	font-size: var( --text-font-size);
	font-weight: var( --text-font-weight);
}

strong {
	font-weight: var(--strong-font-weight);
}

h1 {
	font-family: var( --headers-font-family);
	font-size: var( --h1-font-size);
}

h2 {
	font-family: var( --headers-font-family);
	font-size: var( --h2-font-size);
}

h3 {
	font-family: var( --headers-font-family);
	font-size: var( --h3-font-size);
}

a {
	transition: .5s;
	text-decoration: none;
}
a:hover {
	transition: .5s;
}

button {
	font-family: var( --main-font-family);
    font-size: var( --text-font-size);
}

input {
	font-family: var( --main-font-family);
    font-size: var( --text-font-size);
}

.alert {
	font-size: var(--text-small-size);
	text-align: center;
}

