.loader {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 4px solid var(--accent-color);
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--accent-color) transparent transparent transparent;
  }
  .loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  .loader-wrapper {
      display: flex;
      align-items: center;
  }
  .loader-label {
      margin-left: 6px;
      animation: loader-label 3s ease infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-label {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .8;
    }
    100% {
    opacity: 0;
    }
  }
  