.dd-button {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  text-decoration: none;
  color: var(--font-color);
  border: solid 1px var(--button-border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}
.dd-button.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.dd-button.accent {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--button-accent-color);
}
.dd-button.accent:hover {
  background-color: var(--secondary-accent-color);
  color: var(--button-accent-color);
  border-color: var(--secondary-accent-color);
}
.dd-button:hover {
  padding: 0 17px;
  border-width: 2px;
  transition: 0.5s;
}
.dd-button:active {
  background-color: var(--font-color);
  color: var(--background-color);
  border-color: var(--font-color);
}
.dd-button.icon:before {
  font-size: 24px;
  margin-left: -6px;
}
