@media all and (max-width: 415px) {
  div.page-content {
    padding: 24px;
  }
}
.page-content {
  padding: 24px 36px;
  flex-grow: 2;
  background-color: var(--secondary-background-color);
  overflow: auto;
}
.page-content h1 {
  margin-bottom: 24px;
}
.dd-header {
  display: flex;
  align-items: center;
}
.dd-header.icon:before {
  font-size: 1.5em;
  height: var(--h1-font-size);
  width: var(--h1-font-size);
  margin-right: 18px;
  display: flex;
  align-items: center;
}
.dd-hide-text {
  transition: 0.7s;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dd-hide-text p {
  margin-bottom: 12px;
}
.dd-hide-text .expand-text {
  color: var(--accent-color);
  font-size: var(--text-very-small-size);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dd-hide-text .expand-text:hover {
  color: var(--secondary-accent-color);
  transition: 0.5s;
}
.dd-hide-text .expand-text:before {
  display: flex;
  align-items: center;
  height: var(--text-very-small-size);
  font-size: 1.5em;
}
.dd-labels {
  display: flex;
  flex-wrap: wrap;
}
.dd-labels .dd-label {
  padding: 3px 8px;
  margin: 0 6px 6px 0;
  flex-shrink: none;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--label-text-color);
  background-color: var(--label-color);
  font-size: var(--text-small-size);
  border-radius: var(--text-very-small-size);
  opacity: 0.5;
  transition: 0.5s;
  cursor: default;
}
.dd-labels .dd-label:hover {
  opacity: 1;
  transition: 0.5s;
}
