.dd-card {
  background-color: var(--background-color);
  border: solid 1px var(--field-border-color);
  border-radius: var(--border-radius);
}
.dd-card .card-content {
  padding: 20px 24px;
}
.dd-card .card-photo {
  border-radius: calc(var(--border-radius) - 1px) calc(var(--border-radius) - 1px) 0 0;
  background-position: center;
  background-size: cover;
}
.dd-card .card-title {
  padding-bottom: 3px;
}
.dd-card .card-title-description {
  opacity: 0.5;
  font-size: var(--text-small-size);
}
.dd-card .card-description {
  line-height: 1.5em;
  margin: var(--text-very-small-size) 0;
}
.dd-cards-load-more {
  min-height: 80px;
}
.dd-cards-load-num {
  font-size: var(--text-small-size);
  margin-bottom: 12px;
  opacity: 0.6;
}
@media all and (min-width: 415px) {
  .dd-cards-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .dd-cards-list .dd-card {
    margin: 0 24px 24px 0;
  }
}
@media all and (max-width: 415px) {
  .dd-card {
    margin: 0 0 24px 0;
  }
}
