/*-- VARIABLES --*/
:root {
    --border-radius: 25px;
    
    /* DEFAULT GRAY-BLUE SCHEME */
    --button-border-color: #8E8E8E;
    --field-border-color: #aaa;
    --table-border-color: rgba(0,0,0,.12);
    --accent-color: #058efc;
    --secondary-accent-color: #0062BD;
    --button-accent-color: #fff;
    --background-color: #ffffff;
    --secondary-background-color: #eeeeee;
    --font-color: #333333;
    --alert-color: #333;
    --code-color: #333;
    --code-color-background: #eeeeee;
    --error-color: #FF525B;
    --error-color-light: #FFD6D8; 
    --alert-color: #ECA910;
    --alert-color-light: #F9DFA4;
    --ok-color: #00C197;
    --ok-color-light: #D6F8E5;
    --label-color: #FEE3B0;
    --label-text-color: #333;

    
    /* DENIM-MINT SCHEME *
      --button-border-color: #2f00ff;
      --field-border-color: rgba(255,255,255,.2);
      --accent-color: #00ff98;
      --secondary-accent-color: #02c073;
      --button-accent-color: #131022;
      --background-color: #131022;
      --secondary-background-color: #1c1d3b;
      --font-color: #fff;
      --hint-color: #fff;
      --code-color: #333;
      --code-color-background: rgba(255,255,255,0.7);
      --error-color: #FF525B;
      --error-color-light: #6B4151; 
      --alert-color: #ECA910;
      --alert-color-light: #665846;
      --ok-color: #00C197;
      --ok-color-light: #346266;  /* */
  }