* {margin: 0; padding: 0;}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.content {
    padding:20px
}
.content p {
    margin:10px 0
}

button {
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #eee;
    border:solid 1px #aaa;
    outline: none;
    margin: 5px 5px 5px 0;
}
button:active {
    background-color: #333;
    color: #fff;
}

.form input, form input {
    font-size: 16px;
    padding: 10px;
    border:solid 1px #aaa;
    outline: none;
    margin: 15px 0;
    border-radius: 6px;
    display: block;
}

.error {
    margin: 10px 0;
    color: crimson;
}

.request-info {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.request-info span {
    margin: 5px 0;
}