@media all and (max-width: 415px) {
  div.directual-header {
    padding: 18px;
  }
  div.directual-header .logos {
    display: none;
  }
  div.directual-header .directual-link .blue-button {
    display: none;
  }
  div.directual-header .directual-link .blue-button.logo {
    display: flex;
    width: 48px;
    padding: 0;
    justify-content: center;
  }
}
.directual-header {
  flex-shrink: 0;
  flex-grow: 0;
  background: #333;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding: 12px 24px;
  color: #fff;
  display: flex;
  font-size: 16px;
}
.directual-header .logos {
  display: flex;
  align-items: center;
  width: 220px;
}
.directual-header .logos img {
  margin-right: 16px;
}
.directual-header .gitHub-link {
  display: flex;
  align-items: center;
}
.directual-header .gitHub-link img {
  margin-right: 12px;
}
.directual-header .gitHub-link p {
  color: #aaa;
}
.directual-header .gitHub-link p a {
  color: #aaa;
  text-decoration: underline;
}
.directual-header .gitHub-link p a:hover {
  color: var(--accent-color);
}
.directual-header .directual-link {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.directual-header .directual-link .blue-button {
  background-color: #058efc;
  text-decoration: none;
  color: #fff;
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 18px;
  border-radius: 40px;
}
.directual-header .directual-link .blue-button.logo {
  display: none;
}
.directual-header .directual-link .blue-button:hover {
  background-color: #0D2D53;
}
