.article h1,
.hint h1 {
  margin-bottom: 24px;
}
.article p,
.hint p {
  margin-bottom: 12px;
  line-height: 1.6em;
}
.article h2,
.hint h2,
.article h3,
.hint h3 {
  margin: 24px 0 12px 0;
}
.article ul li,
.hint ul li {
  list-style-type: disc;
  margin: 12px 0 12px 24px;
  line-height: 1.6em;
}
.article code,
.hint code {
  background-color: var(--code-color-background);
  color: var(--code-color);
  padding: 3px 5px;
  border-radius: 3px;
}
.article blockquote,
.hint blockquote {
  background-color: var(--alert-color-light);
  border-left: solid 5px var(--alert-color);
  padding: 18px 18px 6px 18px;
  border-radius: 4px;
  margin: 24px 0;
}
.article img,
.hint img {
  margin: 24px auto;
  display: block;
  max-width: 90%;
}
.article a,
.hint a {
  color: var(--accent-color);
  text-decoration: underline;
}
.article a:hover,
.hint a:hover {
  color: var(--secondary-accent-color);
}
